body {
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  background-color: rgb(242, 242, 242);
  height: 100vh;
}

.top {
  display: flex;
  flex-direction: column;
  height: 400px;
  background-color: rgb(250, 244, 244);
  justify-content: center;
  align-items: center;
  padding: 35px;
}
.tFText {
  padding: 2px 10px 2px 10px;
  border-radius: 20px;
  background-color: rgb(255, 230, 197);
  color: #d48a1b;
}
h1 {
  font-size: 50px;
  color: rgb(89, 8, 165);
}
.pText {
  font-size: 20px;
  text-align: center;
}
.bottom {
  display: flex;
  height: 400px;
  background-color: rgb(242, 242, 242);
  padding: 0 20px 0 20px;

  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 10px;
  align-items: center;
}

.bCI {
  margin: 20px;
}
.title {
  font-size: 25px;
  color: rgb(89, 8, 165);
}
.bCT {
  margin: 20px;
  text-align: center;
}
