body{
    margin: 0;
}

.navbar{
    display: flex;
    flex-direction: row-reverse;
    background-color:#fff;
    height: 70px;
    position: sticky;
    top: 0;
    -webkit-box-shadow: -1px 6px 9px -10px rgba(0,0,0,0.27); 
    box-shadow: -1px 6px 9px -10px rgba(0, 0, 0, 0.27);

}
.nRight{
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
    align-items: center;
}
.nRText{
    height: 35px;
    display: flex;
    width: 150px;
    background-color: rgba(160, 77, 237, 0.584);
    align-items: center;
    justify-content:center;
    border-radius: 30px;
     margin-right: 10px;
     color: #fff;
    cursor: pointer;
}
.nLImg{
    width: 120px;
    margin: 10px;

}
.nLeft{
flex: 1;
}

.nRImg{
    width: 30px;
    margin-right: 20px;
    
}

.container{
    display: flex;
    flex-direction: column;
    background-color: rgb(242, 248, 248);
    height: 100vh;
}
.first{
    background-image: url("./image/mainback.png");
    background-size: 100%;
    height: 700px;
    background-repeat: no-repeat;
}
.fRight{
    background-color: burlywood;
}
.fLeft{
    padding: 50px;
}
.fLText{
    display: flex;
    width: 150px;
    height: 30px;
    font-style: normal;
    font-size: 12px;
    background-color: #fcb32f45;
    background-size: cover;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    color: #fcb32f;
}
.down{
    display: flex;
    
}
.fLTL{
    display: flex;
    width: 150px;
    height: 30px;
    background-color: rgb(158, 36, 220);
    background-size: cover;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    border-radius: 15px;
    color: #fff;
}
.fLTR{
    display: flex;
    width: 150px;
    height: 30px;
    background-color: rgba(174, 100, 254, 0.689);
    background-size: cover;
    justify-content:center;
    align-items: center;
    border-radius: 15px;
    color: #fff;

    
}
h1{
    font-size: 45px;
}

















